 <style>
      h1 {
      text-align:center;
      front-size: 24px;
      }
      p { front-size: 120% }
      ul>:nth-child(1)
      a:link{color:#006400;}
      
      ul>:nth-child(1)
      a:visited{color: #008B8B;}
      
      ul>:nth-child(2)
      a:link{color: #D2691E;}
      
      ul>:nth-child(2)
      a:visited{color:#00FFFF;}

      ul>:nth-child(3)
      a:link{color: #8B008B;}
      
      ul>:nth-child(3)
      a:visited{color:#556B2F;}
      
      ul>:nth-child(4)
      a:link{color: #FF1493;}
      
      ul>:nth-child(4)
      a:visited{color: #90EE90;}
      
    </style>
dekstop.png
@media (min-width: 992px){
}
tablet.png
@media (min-width: 768px) and (max-width: 992px){
}
mobile.png
@media (max-width: 768px){
}
